.container {
  padding: 10rem 7rem;
  margin-top: 6rem;
  background-color: #eff1f7;
}
.container.valid{
  padding:6rem 7rem
}
.head {
  text-align: center;
  margin: 0 auto;
  width: 40%;
}
.head h1 {
  color: hsl(255, 11%, 22%);
}
.head p {
  color: hsl(257, 7%, 63%);
  font-size: 14px;
  margin-top: 0.5rem;
}
.card--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5rem;
}
.card-wrapper {
  padding: 3rem 1.5rem 0rem 0rem;
  position: relative;
}
.card {
  background-color: white;
  padding: 3rem 0 2rem 2rem;
  border-radius: 5px;
}
.card--two{
   margin-top: 2rem;
}
.card--three{
  margin-top: 4rem;
}
.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
  padding: 2.5rem;
  position: absolute;
  top: 0;
  z-index: 200;
}
.icon--one {
  background-image: url("../../images/icon-brand-recognition.svg");
}
.icon--two {
  background-image: url("../../images/icon-detailed-records.svg");
}
.icon--three{
      background-image: url('../../images/icon-fully-customizable.svg');
}
.card h4 {
  color: hsl(260, 8%, 14%);
}
.card p {
  margin-top: 0.5rem;
  font-size: 14px;
  color: hsl(257, 7%, 63%);
  padding-right: 2rem;
}
.loader{
  text-align: center;
}


@media (max-width:540px) {
  .head {
  text-align: center;
  margin: 0 auto;
  width:100%;
}
  .card--container {
  display: grid;
  grid-template-columns: 1fr;
}
.container {
  padding: 10rem 1rem;
  margin-top: 6rem;
  background-color: #eff1f7;
}
.container.valid{
  padding:6rem 1rem
}
.card-wrapper {
  padding: 3rem 0rem 0rem 0rem;
  position: relative;
}
.card {
  text-align: center;
  padding-top: 4rem;
}
.icon {
  left:35%;

}
.loader{
  text-align: center;
  margin-top: 1rem;
}
}