.container{
      background-color: white;
      margin-bottom: .5rem;
      padding:.5rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      font-size: 16px;
}
.link{
      color:#5FDCDC;
      text-decoration: none;
}
button{
      border:none;
      display: inline-block;
      padding:.5rem 1.5rem;
      font-size: 14px;
      border-radius: 5px;
      background-color: transparent;
       background-color: hsl(180, 66%, 49%);
      font-weight: 700;
      color:white;
      margin-left: 1rem;
}
button:hover{
      background-color: #5FDCDC;
      cursor: pointer;
}
button.copied{
      background-color: #3B3054;
}

@media (max-width:540px){
      .container{
      background-color: white;
       margin: 0 auto 1rem auto;
      padding:.5rem 1rem;
      flex-direction: column;
        align-items: flex-start;
        width:87%;
       
}
.container p{
      border-bottom: 1px solid hsl(0, 0%, 75%);
      padding-right: .5rem;
}
.link{
      margin-top: 1rem;
      display: block;
}
button{
      border:none;
      display: block;
      width:100%;
       margin:.5rem auto 0 auto;
}
.result{
      width: 100%;
}
}